/* TAG */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 1px;
    justify-content: center;
}   

img {
    width: 40px;
    height: 40px;
}

label {
    font-size: 18px;
    color: brown;
}

button {
    border-radius: 3px;
    padding: 10px 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
    margin-bottom: 30px;
}

button:hover {
    background-color: brown;
}

button:active {
    transform: translateY(3px);
    background-color: rgb(122, 2, 2);
}

/* ID */
#inputfield:focus {
    border: solid rgb(0, 0, 0);
}

#inputfield {
    outline: none;
    max-width: 500px;
    border-radius: 10px;
    padding: 10px;
    border: solid rgb(161, 161, 161);
    margin: auto;
}

#result {
    outline: none;
    border-radius: 10px;
    padding: 10px;
    border: solid rgb(161, 161, 161);
    margin: 0px auto;
    max-width: 500px;
}

#result:focus {
    border: solid rgb(0, 0, 0);

}

#kolomcara {
    width: 600px;
    height: 30px;
    margin: auto;
}

/* CLASS */
.input {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    
}

.areatombolinput {
    margin-top: 10px;
}

.deskripsi {
    display: block;
    width: 80%;
    max-width: 400px;
    text-align: center;
    align-items: center;
    margin: 0px auto;
    
}





