/* TAG */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 1px;
    justify-content: center;
}   

img {
    width: 40px;
    height: 40px;
}

label {
    font-size: 18px;
    color: brown;
    margin: auto;
    width: 80%;
}

button {
    border-radius: 3px;
    padding: 10px 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
    margin-bottom: 30px;
}

button:hover {
    background-color: brown;
}

button:active {
    transform: translateY(3px);
    background-color: rgb(122, 2, 2);
}

textarea.kolomnya {
    width: 300px;
    height: 75px;
}

/* ID */

/* CLASS */
.input {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5px;

}

.areatombol {
    margin-top: 10px;
}

.deskripsi {
    display: block;
    width: 80%;
    max-width: 400px;
    text-align: center;
    margin: 0px auto; 
}

.output {
    margin-bottom: 30px;
}